
tests/exact/exact_002.gr
tests/exact/exact_002.tww
tests/exact/exact_004.gr
tests/exact/exact_004.tww
tests/exact/exact_006.gr
tests/exact/exact_006.tww
tests/exact/exact_008.gr
tests/exact/exact_008.tww
tests/exact/exact_010.gr
tests/exact/exact_010.tww
tests/exact/exact_012.gr
tests/exact/exact_012.tww
tests/exact/exact_014.gr
tests/exact/exact_014.tww
tests/exact/exact_016.gr
tests/exact/exact_016.tww
tests/exact/exact_018.gr
tests/exact/exact_020.gr
tests/exact/exact_022.gr
tests/exact/exact_024.gr
tests/exact/exact_026.gr
tests/exact/exact_028.gr
tests/exact/exact_030.gr
tests/exact/exact_032.gr
tests/exact/exact_034.gr
tests/exact/exact_036.gr
tests/exact/exact_038.gr
tests/exact/exact_038.tww
tests/exact/exact_040.gr
tests/exact/exact_040.tww
tests/exact/exact_042.gr
tests/exact/exact_042.tww
tests/exact/exact_044.gr
tests/exact/exact_046.gr
tests/exact/exact_048.gr
tests/exact/exact_050.gr
tests/exact/exact_052.gr
tests/exact/exact_054.gr
tests/exact/exact_056.gr
tests/exact/exact_056.tww
tests/exact/exact_058.gr
tests/exact/exact_060.gr
tests/exact/exact_062.gr
tests/exact/exact_064.gr
tests/exact/exact_066.gr
tests/exact/exact_068.gr
tests/exact/exact_070.gr
tests/exact/exact_072.gr
tests/exact/exact_074.gr
tests/exact/exact_076.gr
tests/exact/exact_078.gr
tests/exact/exact_080.gr
tests/exact/exact_082.gr
tests/exact/exact_084.gr
tests/exact/exact_086.gr
tests/exact/exact_088.gr
tests/exact/exact_090.gr
tests/exact/exact_092.gr
tests/exact/exact_094.gr
tests/exact/exact_096.gr
tests/exact/exact_098.gr
tests/exact/exact_100.gr
tests/exact/exact_102.gr
tests/exact/exact_104.gr
tests/exact/exact_106.gr
tests/exact/exact_108.gr
tests/exact/exact_110.gr
tests/exact/exact_112.gr
tests/exact/exact_114.gr
tests/exact/exact_116.gr
tests/exact/exact_118.gr
tests/exact/exact_120.gr
tests/exact/exact_122.gr
tests/exact/exact_124.gr
tests/exact/exact_126.gr
tests/exact/exact_128.gr
tests/exact/exact_130.gr
tests/exact/exact_132.gr
tests/exact/exact_134.gr
tests/exact/exact_136.gr
tests/exact/exact_138.gr
tests/exact/exact_140.gr
tests/exact/exact_142.gr
tests/exact/exact_144.gr
tests/exact/exact_146.gr
tests/exact/exact_148.gr
tests/exact/exact_150.gr
tests/exact/exact_152.gr
tests/exact/exact_154.gr
tests/exact/exact_156.gr
tests/exact/exact_158.gr
tests/exact/exact_160.gr
tests/exact/exact_162.gr
tests/exact/exact_164.gr
tests/exact/exact_166.gr
tests/exact/exact_168.gr
tests/exact/exact_170.gr
tests/exact/exact_172.gr
tests/exact/exact_174.gr
tests/exact/exact_176.gr
tests/exact/exact_178.gr
tests/exact/exact_180.gr
tests/exact/exact_182.gr
tests/exact/exact_184.gr
tests/exact/exact_186.gr
tests/exact/exact_188.gr
tests/exact/exact_190.gr
tests/exact/exact_192.gr
tests/exact/exact_194.gr
tests/exact/exact_196.gr
tests/exact/exact_198.gr
tests/exact/exact_200.gr
tests/heuristic/heuristic_002.gr
tests/heuristic/heuristic_004.gr
tests/heuristic/heuristic_006.gr
tests/heuristic/heuristic_008.gr
tests/heuristic/heuristic_010.gr
tests/heuristic/heuristic_012.gr
tests/heuristic/heuristic_014.gr
tests/heuristic/heuristic_016.gr
tests/heuristic/heuristic_018.gr
tests/heuristic/heuristic_020.gr
tests/heuristic/heuristic_022.gr
tests/heuristic/heuristic_024.gr
tests/heuristic/heuristic_026.gr
tests/heuristic/heuristic_028.gr
tests/heuristic/heuristic_030.gr
tests/heuristic/heuristic_032.gr
tests/heuristic/heuristic_034.gr
tests/heuristic/heuristic_036.gr
tests/heuristic/heuristic_038.gr
tests/heuristic/heuristic_040.gr
tests/heuristic/heuristic_042.gr
tests/heuristic/heuristic_044.gr
tests/heuristic/heuristic_046.gr
tests/heuristic/heuristic_048.gr
tests/heuristic/heuristic_050.gr
tests/heuristic/heuristic_052.gr
tests/heuristic/heuristic_054.gr
tests/heuristic/heuristic_056.gr
tests/heuristic/heuristic_058.gr
tests/heuristic/heuristic_060.gr
tests/heuristic/heuristic_062.gr
tests/heuristic/heuristic_064.gr
tests/heuristic/heuristic_066.gr
tests/heuristic/heuristic_068.gr
tests/heuristic/heuristic_070.gr
tests/heuristic/heuristic_072.gr
tests/heuristic/heuristic_074.gr
tests/heuristic/heuristic_076.gr
tests/heuristic/heuristic_078.gr
tests/heuristic/heuristic_080.gr
tests/heuristic/heuristic_082.gr
tests/heuristic/heuristic_084.gr
tests/heuristic/heuristic_086.gr
tests/heuristic/heuristic_088.gr
tests/heuristic/heuristic_090.gr
tests/heuristic/heuristic_092.gr
tests/heuristic/heuristic_094.gr
tests/heuristic/heuristic_096.gr
tests/heuristic/heuristic_098.gr
tests/heuristic/heuristic_100.gr
tests/heuristic/heuristic_102.gr
tests/heuristic/heuristic_104.gr
tests/heuristic/heuristic_106.gr
tests/heuristic/heuristic_108.gr
tests/heuristic/heuristic_110.gr
tests/heuristic/heuristic_112.gr
tests/heuristic/heuristic_114.gr
tests/heuristic/heuristic_116.gr
tests/heuristic/heuristic_118.gr
tests/heuristic/heuristic_120.gr
tests/heuristic/heuristic_122.gr
tests/heuristic/heuristic_124.gr
tests/heuristic/heuristic_126.gr
tests/heuristic/heuristic_128.gr
tests/heuristic/heuristic_130.gr
tests/heuristic/heuristic_132.gr
tests/heuristic/heuristic_134.gr
tests/heuristic/heuristic_136.gr
tests/heuristic/heuristic_138.gr
tests/heuristic/heuristic_140.gr
tests/heuristic/heuristic_142.gr
tests/heuristic/heuristic_144.gr
tests/heuristic/heuristic_146.gr
tests/heuristic/heuristic_148.gr
tests/heuristic/heuristic_150.gr
tests/heuristic/heuristic_152.gr
tests/heuristic/heuristic_154.gr
tests/heuristic/heuristic_156.gr
tests/heuristic/heuristic_158.gr
tests/heuristic/heuristic_160.gr
tests/heuristic/heuristic_162.gr
tests/heuristic/heuristic_164.gr
tests/heuristic/heuristic_166.gr
tests/heuristic/heuristic_168.gr
tests/heuristic/heuristic_170.gr
tests/heuristic/heuristic_172.gr
tests/heuristic/heuristic_174.gr
tests/heuristic/heuristic_176.gr
tests/heuristic/heuristic_178.gr
tests/heuristic/heuristic_180.gr
tests/heuristic/heuristic_182.gr
tests/heuristic/heuristic_184.gr
tests/heuristic/heuristic_186.gr
tests/heuristic/heuristic_188.gr
tests/heuristic/heuristic_190.gr
tests/heuristic/heuristic_192.gr
tests/heuristic/heuristic_194.gr
tests/heuristic/heuristic_196.gr
tests/heuristic/heuristic_198.gr
tests/heuristic/heuristic_200.gr
tests/tiny/tiny001.gr
tests/tiny/tiny001.tww
tests/tiny/tiny002.gr
tests/tiny/tiny002.tww
tests/tiny/tiny003.gr
tests/tiny/tiny003.tww
tests/tiny/tiny004.gr
tests/tiny/tiny004.tww
tests/tiny/tiny005.gr
tests/tiny/tiny005.tww
tests/tiny/tiny006.gr
tests/tiny/tiny006.tww
tests/tiny/tiny007.gr
tests/tiny/tiny007.tww
tests/tiny/tiny008.gr
tests/tiny/tiny008.tww
tests/tiny/tiny009.gr
tests/tiny/tiny009.tww
tests/tiny/tiny010.gr
tests/tiny/tiny010.tww
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/PACE2023.iml
.idea/vcs.xml
tests/heuristic/heuristic_002.tww
tests/heuristic/heuristic_188.tww
tests/heuristic/heuristic_190.tww
tests/heuristic/heuristic_192.tww
tests/heuristic/heuristic_194.tww
tests/heuristic/heuristic_196.tww
tests/heuristic/heuristic_198.tww
tests/heuristic/heuristic_200.tww
tests/heuristic/heuristic_.tww
exact
heuristic
tests/tiny/custom/TWW/test1.gr
tests/tiny/custom/TWW/test1.tww
tests/tiny/custom/TWW/test10.gr
tests/tiny/custom/TWW/test100.gr
tests/tiny/custom/TWW/test101.gr
tests/tiny/custom/TWW/test102.gr
tests/tiny/custom/TWW/test103.gr
tests/tiny/custom/TWW/test104.gr
tests/tiny/custom/TWW/test105.gr
tests/tiny/custom/TWW/test106.gr
tests/tiny/custom/TWW/test107.gr
tests/tiny/custom/TWW/test108.gr
tests/tiny/custom/TWW/test109.gr
tests/tiny/custom/TWW/test11.gr
tests/tiny/custom/TWW/test110.gr
tests/tiny/custom/TWW/test111.gr
tests/tiny/custom/TWW/test112.gr
tests/tiny/custom/TWW/test113.gr
tests/tiny/custom/TWW/test114.gr
tests/tiny/custom/TWW/test115.gr
tests/tiny/custom/TWW/test116.gr
tests/tiny/custom/TWW/test117.gr
tests/tiny/custom/TWW/test118.gr
tests/tiny/custom/TWW/test119.gr
tests/tiny/custom/TWW/test12.gr
tests/tiny/custom/TWW/test120.gr
tests/tiny/custom/TWW/test121.gr
tests/tiny/custom/TWW/test122.gr
tests/tiny/custom/TWW/test123.gr
tests/tiny/custom/TWW/test124.gr
tests/tiny/custom/TWW/test125.gr
tests/tiny/custom/TWW/test126.gr
tests/tiny/custom/TWW/test127.gr
tests/tiny/custom/TWW/test128.gr
tests/tiny/custom/TWW/test129.gr
tests/tiny/custom/TWW/test13.gr
tests/tiny/custom/TWW/test130.gr
tests/tiny/custom/TWW/test131.gr
tests/tiny/custom/TWW/test132.gr
tests/tiny/custom/TWW/test133.gr
tests/tiny/custom/TWW/test134.gr
tests/tiny/custom/TWW/test135.gr
tests/tiny/custom/TWW/test136.gr
tests/tiny/custom/TWW/test137.gr
tests/tiny/custom/TWW/test138.gr
tests/tiny/custom/TWW/test139.gr
tests/tiny/custom/TWW/test14.gr
tests/tiny/custom/TWW/test140.gr
tests/tiny/custom/TWW/test141.gr
tests/tiny/custom/TWW/test142.gr
tests/tiny/custom/TWW/test143.gr
tests/tiny/custom/TWW/test144.gr
tests/tiny/custom/TWW/test145.gr
tests/tiny/custom/TWW/test146.gr
tests/tiny/custom/TWW/test147.gr
tests/tiny/custom/TWW/test148.gr
tests/tiny/custom/TWW/test149.gr
tests/tiny/custom/TWW/test15.gr
tests/tiny/custom/TWW/test150.gr
tests/tiny/custom/TWW/test151.gr
tests/tiny/custom/TWW/test152.gr
tests/tiny/custom/TWW/test153.gr
tests/tiny/custom/TWW/test154.gr
tests/tiny/custom/TWW/test155.gr
tests/tiny/custom/TWW/test156.gr
tests/tiny/custom/TWW/test157.gr
tests/tiny/custom/TWW/test158.gr
tests/tiny/custom/TWW/test159.gr
tests/tiny/custom/TWW/test16.gr
tests/tiny/custom/TWW/test160.gr
tests/tiny/custom/TWW/test161.gr
tests/tiny/custom/TWW/test162.gr
tests/tiny/custom/TWW/test163.gr
tests/tiny/custom/TWW/test164.gr
tests/tiny/custom/TWW/test165.gr
tests/tiny/custom/TWW/test166.gr
tests/tiny/custom/TWW/test167.gr
tests/tiny/custom/TWW/test168.gr
tests/tiny/custom/TWW/test169.gr
tests/tiny/custom/TWW/test17.gr
tests/tiny/custom/TWW/test170.gr
tests/tiny/custom/TWW/test171.gr
tests/tiny/custom/TWW/test172.gr
tests/tiny/custom/TWW/test173.gr
tests/tiny/custom/TWW/test174.gr
tests/tiny/custom/TWW/test175.gr
tests/tiny/custom/TWW/test176.gr
tests/tiny/custom/TWW/test177.gr
tests/tiny/custom/TWW/test178.gr
tests/tiny/custom/TWW/test179.gr
tests/tiny/custom/TWW/test18.gr
tests/tiny/custom/TWW/test180.gr
tests/tiny/custom/TWW/test181.gr
tests/tiny/custom/TWW/test182.gr
tests/tiny/custom/TWW/test183.gr
tests/tiny/custom/TWW/test184.gr
tests/tiny/custom/TWW/test185.gr
tests/tiny/custom/TWW/test186.gr
tests/tiny/custom/TWW/test187.gr
tests/tiny/custom/TWW/test188.gr
tests/tiny/custom/TWW/test189.gr
tests/tiny/custom/TWW/test19.gr
tests/tiny/custom/TWW/test190.gr
tests/tiny/custom/TWW/test191.gr
tests/tiny/custom/TWW/test192.gr
tests/tiny/custom/TWW/test193.gr
tests/tiny/custom/TWW/test194.gr
tests/tiny/custom/TWW/test195.gr
tests/tiny/custom/TWW/test196.gr
tests/tiny/custom/TWW/test197.gr
tests/tiny/custom/TWW/test198.gr
tests/tiny/custom/TWW/test199.gr
tests/tiny/custom/TWW/test2.gr
tests/tiny/custom/TWW/test2.tww
tests/tiny/custom/TWW/test20.gr
tests/tiny/custom/TWW/test200.gr
tests/tiny/custom/TWW/test201.gr
tests/tiny/custom/TWW/test202.gr
tests/tiny/custom/TWW/test203.gr
tests/tiny/custom/TWW/test204.gr
tests/tiny/custom/TWW/test205.gr
tests/tiny/custom/TWW/test206.gr
tests/tiny/custom/TWW/test207.gr
tests/tiny/custom/TWW/test208.gr
tests/tiny/custom/TWW/test209.gr
tests/tiny/custom/TWW/test21.gr
tests/tiny/custom/TWW/test210.gr
tests/tiny/custom/TWW/test211.gr
tests/tiny/custom/TWW/test212.gr
tests/tiny/custom/TWW/test213.gr
tests/tiny/custom/TWW/test214.gr
tests/tiny/custom/TWW/test215.gr
tests/tiny/custom/TWW/test216.gr
tests/tiny/custom/TWW/test217.gr
tests/tiny/custom/TWW/test218.gr
tests/tiny/custom/TWW/test219.gr
tests/tiny/custom/TWW/test22.gr
tests/tiny/custom/TWW/test220.gr
tests/tiny/custom/TWW/test221.gr
tests/tiny/custom/TWW/test222.gr
tests/tiny/custom/TWW/test223.gr
tests/tiny/custom/TWW/test224.gr
tests/tiny/custom/TWW/test225.gr
tests/tiny/custom/TWW/test226.gr
tests/tiny/custom/TWW/test227.gr
tests/tiny/custom/TWW/test228.gr
tests/tiny/custom/TWW/test229.gr
tests/tiny/custom/TWW/test23.gr
tests/tiny/custom/TWW/test230.gr
tests/tiny/custom/TWW/test231.gr
tests/tiny/custom/TWW/test232.gr
tests/tiny/custom/TWW/test233.gr
tests/tiny/custom/TWW/test234.gr
tests/tiny/custom/TWW/test235.gr
tests/tiny/custom/TWW/test236.gr
tests/tiny/custom/TWW/test237.gr
tests/tiny/custom/TWW/test238.gr
tests/tiny/custom/TWW/test239.gr
tests/tiny/custom/TWW/test24.gr
tests/tiny/custom/TWW/test240.gr
tests/tiny/custom/TWW/test241.gr
tests/tiny/custom/TWW/test242.gr
tests/tiny/custom/TWW/test243.gr
tests/tiny/custom/TWW/test244.gr
tests/tiny/custom/TWW/test245.gr
tests/tiny/custom/TWW/test246.gr
tests/tiny/custom/TWW/test247.gr
tests/tiny/custom/TWW/test248.gr
tests/tiny/custom/TWW/test249.gr
tests/tiny/custom/TWW/test25.gr
tests/tiny/custom/TWW/test250.gr
tests/tiny/custom/TWW/test251.gr
tests/tiny/custom/TWW/test252.gr
tests/tiny/custom/TWW/test253.gr
tests/tiny/custom/TWW/test254.gr
tests/tiny/custom/TWW/test255.gr
tests/tiny/custom/TWW/test256.gr
tests/tiny/custom/TWW/test257.gr
tests/tiny/custom/TWW/test258.gr
tests/tiny/custom/TWW/test259.gr
tests/tiny/custom/TWW/test26.gr
tests/tiny/custom/TWW/test260.gr
tests/tiny/custom/TWW/test261.gr
tests/tiny/custom/TWW/test262.gr
tests/tiny/custom/TWW/test263.gr
tests/tiny/custom/TWW/test264.gr
tests/tiny/custom/TWW/test265.gr
tests/tiny/custom/TWW/test266.gr
tests/tiny/custom/TWW/test267.gr
tests/tiny/custom/TWW/test268.gr
tests/tiny/custom/TWW/test269.gr
tests/tiny/custom/TWW/test27.gr
tests/tiny/custom/TWW/test270.gr
tests/tiny/custom/TWW/test271.gr
tests/tiny/custom/TWW/test272.gr
tests/tiny/custom/TWW/test273.gr
tests/tiny/custom/TWW/test274.gr
tests/tiny/custom/TWW/test275.gr
tests/tiny/custom/TWW/test276.gr
tests/tiny/custom/TWW/test277.gr
tests/tiny/custom/TWW/test278.gr
tests/tiny/custom/TWW/test279.gr
tests/tiny/custom/TWW/test28.gr
tests/tiny/custom/TWW/test280.gr
tests/tiny/custom/TWW/test281.gr
tests/tiny/custom/TWW/test282.gr
tests/tiny/custom/TWW/test283.gr
tests/tiny/custom/TWW/test284.gr
tests/tiny/custom/TWW/test285.gr
tests/tiny/custom/TWW/test286.gr
tests/tiny/custom/TWW/test287.gr
tests/tiny/custom/TWW/test288.gr
tests/tiny/custom/TWW/test289.gr
tests/tiny/custom/TWW/test29.gr
tests/tiny/custom/TWW/test290.gr
tests/tiny/custom/TWW/test291.gr
tests/tiny/custom/TWW/test292.gr
tests/tiny/custom/TWW/test293.gr
tests/tiny/custom/TWW/test294.gr
tests/tiny/custom/TWW/test295.gr
tests/tiny/custom/TWW/test296.gr
tests/tiny/custom/TWW/test297.gr
tests/tiny/custom/TWW/test298.gr
tests/tiny/custom/TWW/test299.gr
tests/tiny/custom/TWW/test3.gr
tests/tiny/custom/TWW/test3.tww
tests/tiny/custom/TWW/test30.gr
tests/tiny/custom/TWW/test300.gr
tests/tiny/custom/TWW/test31.gr
tests/tiny/custom/TWW/test32.gr
tests/tiny/custom/TWW/test33.gr
tests/tiny/custom/TWW/test34.gr
tests/tiny/custom/TWW/test35.gr
tests/tiny/custom/TWW/test36.gr
tests/tiny/custom/TWW/test37.gr
tests/tiny/custom/TWW/test38.gr
tests/tiny/custom/TWW/test39.gr
tests/tiny/custom/TWW/test4.gr
tests/tiny/custom/TWW/test40.gr
tests/tiny/custom/TWW/test41.gr
tests/tiny/custom/TWW/test42.gr
tests/tiny/custom/TWW/test43.gr
tests/tiny/custom/TWW/test44.gr
tests/tiny/custom/TWW/test45.gr
tests/tiny/custom/TWW/test46.gr
tests/tiny/custom/TWW/test47.gr
tests/tiny/custom/TWW/test48.gr
tests/tiny/custom/TWW/test49.gr
tests/tiny/custom/TWW/test5.gr
tests/tiny/custom/TWW/test50.gr
tests/tiny/custom/TWW/test51.gr
tests/tiny/custom/TWW/test52.gr
tests/tiny/custom/TWW/test53.gr
tests/tiny/custom/TWW/test54.gr
tests/tiny/custom/TWW/test55.gr
tests/tiny/custom/TWW/test56.gr
tests/tiny/custom/TWW/test57.gr
tests/tiny/custom/TWW/test58.gr
tests/tiny/custom/TWW/test59.gr
tests/tiny/custom/TWW/test6.gr
tests/tiny/custom/TWW/test60.gr
tests/tiny/custom/TWW/test61.gr
tests/tiny/custom/TWW/test62.gr
tests/tiny/custom/TWW/test63.gr
tests/tiny/custom/TWW/test64.gr
tests/tiny/custom/TWW/test65.gr
tests/tiny/custom/TWW/test66.gr
tests/tiny/custom/TWW/test67.gr
tests/tiny/custom/TWW/test68.gr
tests/tiny/custom/TWW/test69.gr
tests/tiny/custom/TWW/test7.gr
tests/tiny/custom/TWW/test70.gr
tests/tiny/custom/TWW/test71.gr
tests/tiny/custom/TWW/test72.gr
tests/tiny/custom/TWW/test73.gr
tests/tiny/custom/TWW/test74.gr
tests/tiny/custom/TWW/test75.gr
tests/tiny/custom/TWW/test76.gr
tests/tiny/custom/TWW/test77.gr
tests/tiny/custom/TWW/test78.gr
tests/tiny/custom/TWW/test79.gr
tests/tiny/custom/TWW/test8.gr
tests/tiny/custom/TWW/test80.gr
tests/tiny/custom/TWW/test81.gr
tests/tiny/custom/TWW/test82.gr
tests/tiny/custom/TWW/test83.gr
tests/tiny/custom/TWW/test84.gr
tests/tiny/custom/TWW/test85.gr
tests/tiny/custom/TWW/test86.gr
tests/tiny/custom/TWW/test87.gr
tests/tiny/custom/TWW/test88.gr
tests/tiny/custom/TWW/test89.gr
tests/tiny/custom/TWW/test9.gr
tests/tiny/custom/TWW/test90.gr
tests/tiny/custom/TWW/test91.gr
tests/tiny/custom/TWW/test92.gr
tests/tiny/custom/TWW/test93.gr
tests/tiny/custom/TWW/test94.gr
tests/tiny/custom/TWW/test95.gr
tests/tiny/custom/TWW/test96.gr
tests/tiny/custom/TWW/test97.gr
tests/tiny/custom/TWW/test98.gr
tests/tiny/custom/TWW/test99.gr
exact5
exact21
exact20
exact2
exact100
