
tests/exact/exact_002.gr
tests/exact/exact_002.tww
tests/exact/exact_004.gr
tests/exact/exact_004.tww
tests/exact/exact_006.gr
tests/exact/exact_006.tww
tests/exact/exact_008.gr
tests/exact/exact_008.tww
tests/exact/exact_010.gr
tests/exact/exact_010.tww
tests/exact/exact_012.gr
tests/exact/exact_012.tww
tests/exact/exact_014.gr
tests/exact/exact_014.tww
tests/exact/exact_016.gr
tests/exact/exact_016.tww
tests/exact/exact_018.gr
tests/exact/exact_020.gr
tests/exact/exact_022.gr
tests/exact/exact_024.gr
tests/exact/exact_026.gr
tests/exact/exact_028.gr
tests/exact/exact_030.gr
tests/exact/exact_032.gr
tests/exact/exact_034.gr
tests/exact/exact_036.gr
tests/exact/exact_038.gr
tests/exact/exact_038.tww
tests/exact/exact_040.gr
tests/exact/exact_040.tww
tests/exact/exact_042.gr
tests/exact/exact_042.tww
tests/exact/exact_044.gr
tests/exact/exact_046.gr
tests/exact/exact_048.gr
tests/exact/exact_050.gr
tests/exact/exact_052.gr
tests/exact/exact_054.gr
tests/exact/exact_056.gr
tests/exact/exact_056.tww
tests/exact/exact_058.gr
tests/exact/exact_060.gr
tests/exact/exact_062.gr
tests/exact/exact_064.gr
tests/exact/exact_066.gr
tests/exact/exact_068.gr
tests/exact/exact_070.gr
tests/exact/exact_072.gr
tests/exact/exact_074.gr
tests/exact/exact_076.gr
tests/exact/exact_078.gr
tests/exact/exact_080.gr
tests/exact/exact_082.gr
tests/exact/exact_084.gr
tests/exact/exact_086.gr
tests/exact/exact_088.gr
tests/exact/exact_090.gr
tests/exact/exact_092.gr
tests/exact/exact_094.gr
tests/exact/exact_096.gr
tests/exact/exact_098.gr
tests/exact/exact_100.gr
tests/exact/exact_102.gr
tests/exact/exact_104.gr
tests/exact/exact_106.gr
tests/exact/exact_108.gr
tests/exact/exact_110.gr
tests/exact/exact_112.gr
tests/exact/exact_114.gr
tests/exact/exact_116.gr
tests/exact/exact_118.gr
tests/exact/exact_120.gr
tests/exact/exact_122.gr
tests/exact/exact_124.gr
tests/exact/exact_126.gr
tests/exact/exact_128.gr
tests/exact/exact_130.gr
tests/exact/exact_132.gr
tests/exact/exact_134.gr
tests/exact/exact_136.gr
tests/exact/exact_138.gr
tests/exact/exact_140.gr
tests/exact/exact_142.gr
tests/exact/exact_144.gr
tests/exact/exact_146.gr
tests/exact/exact_148.gr
tests/exact/exact_150.gr
tests/exact/exact_152.gr
tests/exact/exact_154.gr
tests/exact/exact_156.gr
tests/exact/exact_158.gr
tests/exact/exact_160.gr
tests/exact/exact_162.gr
tests/exact/exact_164.gr
tests/exact/exact_166.gr
tests/exact/exact_168.gr
tests/exact/exact_170.gr
tests/exact/exact_172.gr
tests/exact/exact_174.gr
tests/exact/exact_176.gr
tests/exact/exact_178.gr
tests/exact/exact_180.gr
tests/exact/exact_182.gr
tests/exact/exact_184.gr
tests/exact/exact_186.gr
tests/exact/exact_188.gr
tests/exact/exact_190.gr
tests/exact/exact_192.gr
tests/exact/exact_194.gr
tests/exact/exact_196.gr
tests/exact/exact_198.gr
tests/exact/exact_200.gr
tests/heuristic/heuristic_002.gr
tests/heuristic/heuristic_004.gr
tests/heuristic/heuristic_006.gr
tests/heuristic/heuristic_008.gr
tests/heuristic/heuristic_010.gr
tests/heuristic/heuristic_012.gr
tests/heuristic/heuristic_014.gr
tests/heuristic/heuristic_016.gr
tests/heuristic/heuristic_018.gr
tests/heuristic/heuristic_020.gr
tests/heuristic/heuristic_022.gr
tests/heuristic/heuristic_024.gr
tests/heuristic/heuristic_026.gr
tests/heuristic/heuristic_028.gr
tests/heuristic/heuristic_030.gr
tests/heuristic/heuristic_032.gr
tests/heuristic/heuristic_034.gr
tests/heuristic/heuristic_036.gr
tests/heuristic/heuristic_038.gr
tests/heuristic/heuristic_040.gr
tests/heuristic/heuristic_042.gr
tests/heuristic/heuristic_044.gr
tests/heuristic/heuristic_046.gr
tests/heuristic/heuristic_048.gr
tests/heuristic/heuristic_050.gr
tests/heuristic/heuristic_052.gr
tests/heuristic/heuristic_054.gr
tests/heuristic/heuristic_056.gr
tests/heuristic/heuristic_058.gr
tests/heuristic/heuristic_060.gr
tests/heuristic/heuristic_062.gr
tests/heuristic/heuristic_064.gr
tests/heuristic/heuristic_066.gr
tests/heuristic/heuristic_068.gr
tests/heuristic/heuristic_070.gr
tests/heuristic/heuristic_072.gr
tests/heuristic/heuristic_074.gr
tests/heuristic/heuristic_076.gr
tests/heuristic/heuristic_078.gr
tests/heuristic/heuristic_080.gr
tests/heuristic/heuristic_082.gr
tests/heuristic/heuristic_084.gr
tests/heuristic/heuristic_086.gr
tests/heuristic/heuristic_088.gr
tests/heuristic/heuristic_090.gr
tests/heuristic/heuristic_092.gr
tests/heuristic/heuristic_094.gr
tests/heuristic/heuristic_096.gr
tests/heuristic/heuristic_098.gr
tests/heuristic/heuristic_100.gr
tests/heuristic/heuristic_102.gr
tests/heuristic/heuristic_104.gr
tests/heuristic/heuristic_106.gr
tests/heuristic/heuristic_108.gr
tests/heuristic/heuristic_110.gr
tests/heuristic/heuristic_112.gr
tests/heuristic/heuristic_114.gr
tests/heuristic/heuristic_116.gr
tests/heuristic/heuristic_118.gr
tests/heuristic/heuristic_120.gr
tests/heuristic/heuristic_122.gr
tests/heuristic/heuristic_124.gr
tests/heuristic/heuristic_126.gr
tests/heuristic/heuristic_128.gr
tests/heuristic/heuristic_130.gr
tests/heuristic/heuristic_132.gr
tests/heuristic/heuristic_134.gr
tests/heuristic/heuristic_136.gr
tests/heuristic/heuristic_138.gr
tests/heuristic/heuristic_140.gr
tests/heuristic/heuristic_142.gr
tests/heuristic/heuristic_144.gr
tests/heuristic/heuristic_146.gr
tests/heuristic/heuristic_148.gr
tests/heuristic/heuristic_150.gr
tests/heuristic/heuristic_152.gr
tests/heuristic/heuristic_154.gr
tests/heuristic/heuristic_156.gr
tests/heuristic/heuristic_158.gr
tests/heuristic/heuristic_160.gr
tests/heuristic/heuristic_162.gr
tests/heuristic/heuristic_164.gr
tests/heuristic/heuristic_166.gr
tests/heuristic/heuristic_168.gr
tests/heuristic/heuristic_170.gr
tests/heuristic/heuristic_172.gr
tests/heuristic/heuristic_174.gr
tests/heuristic/heuristic_176.gr
tests/heuristic/heuristic_178.gr
tests/heuristic/heuristic_180.gr
tests/heuristic/heuristic_182.gr
tests/heuristic/heuristic_184.gr
tests/heuristic/heuristic_186.gr
tests/heuristic/heuristic_188.gr
tests/heuristic/heuristic_190.gr
tests/heuristic/heuristic_192.gr
tests/heuristic/heuristic_194.gr
tests/heuristic/heuristic_196.gr
tests/heuristic/heuristic_198.gr
tests/heuristic/heuristic_200.gr
tests/tiny/tiny001.gr
tests/tiny/tiny001.tww
tests/tiny/tiny002.gr
tests/tiny/tiny002.tww
tests/tiny/tiny003.gr
tests/tiny/tiny003.tww
tests/tiny/tiny004.gr
tests/tiny/tiny004.tww
tests/tiny/tiny005.gr
tests/tiny/tiny005.tww
tests/tiny/tiny006.gr
tests/tiny/tiny006.tww
tests/tiny/tiny007.gr
tests/tiny/tiny007.tww
tests/tiny/tiny008.gr
tests/tiny/tiny008.tww
tests/tiny/tiny009.gr
tests/tiny/tiny009.tww
tests/tiny/tiny010.gr
tests/tiny/tiny010.tww
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/PACE2023.iml
.idea/vcs.xml
tests/heuristic/heuristic_002.tww
tests/heuristic/heuristic_188.tww
tests/heuristic/heuristic_190.tww
tests/heuristic/heuristic_192.tww
tests/heuristic/heuristic_194.tww
tests/heuristic/heuristic_196.tww
tests/heuristic/heuristic_198.tww
tests/heuristic/heuristic_200.tww
